[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
dj-email-url = "*"
mssql-django = "*"
pyodbc = "*"
django-countries = "*"
pillow = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
